<div class="container-md global">
    <app-header />

    <div class="row">
        <div class="col">
            <hr class="hr hr-blurry" />
        </div>
    </div>

    <div class="row">
        <div class="col-6 col-md-4">
            <app-status-plug />
        </div>
        <div class="col-6 col-md-4">
            <app-status-battery />
        </div>
        <div class="col-12 col-md-4">
            <app-start-stop />
        </div>
    </div>

    <div class="row">
        <div class="col">
            <hr class="hr hr-blurry" />
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <app-borne-information />
        </div>
        <div class="col col-md-4 text-center">
            <app-charge-information />
        </div>
        <div class="col-2">
            <app-smart-charging />
        </div>
    </div>

    <div class="row">
        <div class="col">
            <hr class="hr hr-blurry" />
        </div>
    </div>

    <app-zone-message />
</div>

<router-outlet></router-outlet>
