<div class="container-md global">
    <app-header />

    <div class="row">
        <div class="col">
            <hr class="hr hr-blurry" />
        </div>
    </div>

    <div class="row">
        <div class="col-6 col-md-4">
            <app-borne-information />
        </div>
        <div class="col-6 col-md-4">
            <app-status-plug />
            <!-- <app-status-battery /> -->
        </div>
        <div class="col-12 col-md-4">
            <app-charge-information />
        </div>
    </div>

    <div class="row">
        <div class="col">
            <hr class="hr hr-blurry" />
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-12 col-md-4 mb-3 text-center">
            <app-start-stop />
        </div>
        <div class="col-12 col-md-4 mb-3 text-center">
            <app-status-nfc />
        </div>
        <div class="col-12 col-md-4 mb-3">
            <app-smart-charging />
        </div>
    </div>

    <div class="row">
        <div class="col">
            <hr class="hr hr-blurry" />
        </div>
    </div>

    <app-zone-message />

    <div class="row text-end">
        <div class="col">
            <app-footer />
        </div>
    </div>
</div>

<router-outlet></router-outlet>
