<div class="row" style="border: 2px dashed;">
    <div class="col">
        <div class="table-responsive">
            <p style="font-size: 20px;font-weight: 800;text-align: center;">test & debug indicators</p>
            <table>
                <tr *ngFor="let smart of smartList">
                    <td>{{ smart.name }}</td>
                    <td>
                        <label class="switch">
                            <input type="checkbox" disabled [checked]="smart.checked || (smart.name === 'IEC' && smartStatus === 'iec')">
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>