<div class="col col-1">
    <p style="font-size: 20px;font-weight: 800;text-align: center;">Smart Charging</p>
    <table>
        <tr>
            <td>
                ISO 15118
            </td>
            <td>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </td>
        </tr>
        <tr>
            <td>PnC</td>
            <td>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </td>
        </tr>
        <tr>
            <td>V2G</td>
            <td>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </td>
        </tr>
    </table>
</div>